<div class="app-wrapper">
  <div class="app-content">
    <div *ngIf="sheSaidYes" class="hearts" aria-hidden="true">
      <div class="heart">&#10084;</div>
      <div class="heart">&#10084;</div>
      <div class="heart">&#10084;</div>
      <div class="heart">&#10084;</div>
      <div class="heart">&#10084;</div>
      <div class="heart">&#10084;</div>
      <div class="heart">&#10084;</div>
      <div class="heart">&#10084;</div>
      <div class="heart">&#10084;</div>
      <div class="heart">&#10084;</div>
    </div>

    <router-outlet />
  </div>
</div>